In [2]:
import pandas as pd

l = [[1,2,3,4,5,6,7],[10,15,20,25,50,55,60],[0,0,0,0,0,0,0],[-1,-20,-30,-45,-50,-55,-70]]
df = pd.DataFrame(l)
df

    0   1   2   3   4   5   6
0   1   2   3   4   5   6   7
1  10  15  20  25  50  55  60
2   0   0   0   0   0   0   0
3  -1 -20 -30 -45 -50 -55 -70

In [4]:
df = df.T
df

   0   1  2   3
0  1  10  0  -1
1  2  15  0 -20
2  3  20  0 -30
3  4  25  0 -45
4  5  50  0 -50
5  6  55  0 -55
6  7  60  0 -70

In [5]:
corr = df.corr(method='pearson')
print(corr)

          0         1   2         3
0  1.000000  0.966282 NaN -0.983120
1  0.966282  1.000000 NaN -0.917002
2       NaN       NaN NaN       NaN
3 -0.983120 -0.917002 NaN  1.000000